<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ClienteMapper">

    <!-- Definición del select para consultar un cliente por su id -->
    <select id="consultarCliente" parameterType="map" resultMap="ClienteResult">
        select
        c.nombre,
        c.documento,
        c.telefono,
        c.direccion,
        c.email,
        c.vetado,
        ir.CLIENTES_documento as ir_documento,
        ir.ITEMS_id as ir_items_id,
        ir.fechainiciorenta,
        ir.fechafinrenta,
        i.id as i_id,
        i.nombre as i_nombre,
        i.descripcion as i_descripcion,
        i.fechalanzamiento,
        i.tarifaxdia,
        i.formatorenta,
        i.genero,
        ti.id as ti_id,
        ti.descripcion as ti_descripcion
        FROM VI_CLIENTES as c
        left join VI_ITEMRENTADO as ir on c.documento = ir.CLIENTES_documento
        left join VI_ITEMS as i on ir.ITEMS_id = i.id
        left join VI_TIPOITEM as ti on i.TIPOITEM_id = ti.id
        WHERE c.documento = #{idcli}
    </select>

    <!-- Result Map para Cliente -->
    <resultMap id="ClienteResult" type="Cliente">
        <id property="documento" column="documento"/>
        <result property="nombre" column="nombre"/>
        <result property="telefono" column="telefono"/>
        <result property="direccion" column="direccion"/>
        <result property="email" column="email"/>
        <result property="vetado" column="vetado"/>
        <collection property="rentados" ofType="ItemRentado" resultMap="ItemRentadoResult"/>
    </resultMap>

    <!-- Result Map para ItemRentado -->
    <resultMap id="ItemRentadoResult" type="ItemRentado">
        <id property="id" column="ir_id"/>
        <result property="fechainiciorenta" column="fechainiciorenta"/>
        <result property="fechafinrenta" column="fechafinrenta"/>
        <association property="item" javaType="Item" resultMap="ItemResult"/>
    </resultMap>

    <!-- Result Map para Item -->
    <resultMap id="ItemResult" type="Item">
        <id property="id" column="i_id"/>
        <result property="nombre" column="i_nombre"/>
        <result property="descripcion" column="i_descripcion"/>
        <result property="fechaLanzamiento" column="fechalanzamiento"/>
        <result property="tarifaxDia" column="tarifaxdia"/>
        <result property="formatoRenta" column="formatorenta"/>
        <result property="genero" column="genero"/>
        <association property="tipo" javaType="TipoItem" resultMap="TipoItemResult"/>
    </resultMap>

    <!-- Result Map para TipoItem -->
    <resultMap id="TipoItemResult" type="TipoItem">
        <id property="id" column="ti_id"/>
        <result property="descripcion" column="ti_descripcion"/>
    </resultMap>

</mapper>